{% set active_theme = page.theme if page.theme is defined else (site.theme.default if site.theme is defined and
site.theme.default is defined else (site.theme if site.theme is defined else "dracula")) %}
<!DOCTYPE html>
<html lang="en" data-theme="{{ active_theme }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.site_name }}</title>
  {% if site.base_url and site.base_url != '/' %}
  <base href="{{ site.base_url }}">
  {% endif %}
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/syntax.css">
</head>

<body class="min-h-screen bg-base-100 text-base-content">
  <main class="min-h-screen w-full">
    {% block content %}{% endblock %}
  </main>
</body>

</html>